body {
    background-color: #fff;
    color: #000;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 4rem auto;
    padding: 2rem;
}

.logo {
    margin-bottom: 1.5rem;
}

.logo img {
    max-width: 200px;
    height: auto;
}

main {
    padding-top: 0;
}

h1 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

h2 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 3rem;
    color: #333;
}

main a {
    color: #0000FF;
    text-decoration: underline;
}

main a:hover {
    text-decoration: none;
}

main ul {
    list-style-type: none;
    padding-left: 0;
}

main ul li {
    margin-bottom: 1rem;
}

main ul li a::after {
    content: " [" attr(data-index) "]";
    font-weight: normal;
    color: #999;
}

footer {
    margin-top: 5rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 0.9rem;
    color: #777;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
.color-bar-signature {
    height: 5px;
    width: 300px;
    max-width: 90%;
    margin: 1.5rem auto 0 auto;
    background: linear-gradient(to right,
        #8a2be2 20%,      /* Violet */
        #0000ff 20% 40%,  /* Bleu */
        #7cfc00 40% 60%,  /* Vert clair */
        #ffa500 60% 80%,  /* Orange */
        #ff0000 80% 100%  /* Rouge */
    );
}

@media (max-width: 768px) {
    .container {
        margin: 2rem auto;
        padding: 1rem;
    }
    h1 {
        font-size: 2rem;
    }
    .logo img {
        max-width: 150px;
    }
}
